PORT=5000
MONGODB_URI=mongodb://localhost:27017/printify-custom
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
BETTER_AUTH_SECRET=a_random_32_character_string
CLIENT_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:5000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
